## Foundations of Computer Science

### The Movies Database Project - Matteo Gabardi

##### Packages are imported

In [1]:
import pandas as pd
import numpy as np
import re
import json

##### The 'tmdb_5000_movies.csv' database is imported

In [2]:
movies=pd.read_csv('tmdb_5000_movies.csv')
movies

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
5,258000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",http://www.sonypictures.com/movies/spider-man3/,559,"[{""id"": 851, ""name"": ""dual identity""}, {""id"": ...",en,Spider-Man 3,The seemingly invincible Spider-Man goes up ag...,115.699814,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-01,890871626,139.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The battle within.,Spider-Man 3,5.9,3576
6,260000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",http://disney.go.com/disneypictures/tangled/,38757,"[{""id"": 1562, ""name"": ""hostage""}, {""id"": 2343,...",en,Tangled,When the kingdom's most wanted-and most charmi...,48.681969,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2010-11-24,591794936,100.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,They're taking adventure to new lengths.,Tangled,7.4,3330
7,280000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,"[{""id"": 8828, ""name"": ""marvel comic""}, {""id"": ...",en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,134.279229,"[{""name"": ""Marvel Studios"", ""id"": 420}, {""name...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-04-22,1405403694,141.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Age Has Come.,Avengers: Age of Ultron,7.3,6767
8,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://harrypotter.warnerbros.com/harrypottera...,767,"[{""id"": 616, ""name"": ""witch""}, {""id"": 2343, ""n...",en,Harry Potter and the Half-Blood Prince,"As Harry begins his sixth year at Hogwarts, he...",98.885637,"[{""name"": ""Warner Bros."", ""id"": 6194}, {""name""...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2009-07-07,933959197,153.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Dark Secrets Revealed,Harry Potter and the Half-Blood Prince,7.4,5293
9,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.batmanvsupermandawnofjustice.com/,209112,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 7002...",en,Batman v Superman: Dawn of Justice,Fearing the actions of a god-like Super Hero l...,155.790452,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""A...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2016-03-23,873260194,151.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Justice or revenge,Batman v Superman: Dawn of Justice,5.7,7004
10,270000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://www.superman.com,1452,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",en,Superman Returns,Superman returns to discover his 5-year absenc...,57.925623,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""L...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2006-06-28,391081192,154.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Superman Returns,5.4,1400
11,200000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://www.mgm.com/view/movie/234/Quantum-of-S...,10764,"[{""id"": 627, ""name"": ""killing""}, {""id"": 1568, ...",en,Quantum of Solace,Quantum of Solace continues the adventures of ...,107.928811,"[{""name"": ""Eon Productions"", ""id"": 7576}]","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2008-10-30,586090727,106.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,"For love, for hate, for justice, for revenge.",Quantum of Solace,6.1,2965
12,200000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,58,"[{""id"": 616, ""name"": ""witch""}, {""id"": 663, ""na...",en,Pirates of the Caribbean: Dead Man's Chest,Captain Jack Sparrow works his way out of a bl...,145.847379,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""JM"", ""name"": ""Jamaica""}, {""is...",2006-06-20,1065659812,151.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Jack is back!,Pirates of the Caribbean: Dead Man's Chest,7.0,5246
13,255000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://disney.go.com/the-lone-ranger/,57201,"[{""id"": 1556, ""name"": ""texas""}, {""id"": 2673, ""...",en,The Lone Ranger,The Texas Rangers chase down a gang of outlaws...,49.046956,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-07-03,89289910,149.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Never Take Off the Mask,The Lone Ranger,5.9,2311
14,225000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.manofsteel.com/,49521,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",en,Man of Steel,A young boy learns that he has extraordinary p...,99.398009,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2013-06-12,662845518,143.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,You will believe that a man can fly.,Man of Steel,6.5,6359
15,225000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...",NaN,2454,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,The Chronicles of Narnia: Prince Caspian,One year after their incredible adventures in ...,53.978602,"[{""name"": ""Walt Disney"", ""id"": 5888}, {""name"":...","[{""iso_3166_1"": ""CZ"", ""name"": ""Czech Republic""...",2008-05-15,419651413,150.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Hope has a new face.,The Chronicles of Narnia: Prince Caspian,6.3,1630
16,220000000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://marvel.com/avengers_movie/,24428,"[{""id"": 242, ""name"": ""new york""}, {""id"": 5539,...",en,The Avengers,When an unexpected enemy emerges and threatens...,144.448633,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-04-25,1519557910,143.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Some assembly required.,The Avengers,7.4,11776
17,380000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://disney.go.com/pirates/index-on-stranger...,1865,"[{""id"": 658, ""name"": ""sea""}, {""id"": 1316, ""nam...",en,Pirates of the Caribbean: On Stranger Tides,Captain Jack Sparrow crosses paths with a woma...,135.413856,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2011-05-14,1045713802,136.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Live Forever Or Die Trying.,Pirates of the Caribbean: On Stranger Tides,6.4,4948
18,225000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 35, ""nam...",http://www.sonypictures.com/movies/meninblack3/,41154,"[{""id"": 4379, ""name"": ""time travel""}, {""id"": 5...",en,Men in Black 3,Agents J (Will Smith) and K (Tommy Lee Jones) ...,52.035179,"[{""name"": ""Amblin Entertainment"", ""id"": 56}, {...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-23,624026776,106.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,They are back... in time.,Men in Black 3,6.2,4160
19,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.thehobbit.com/,122917,"[{""id"": 417, ""name"": ""corruption""}, {""id"": 603...",en,The Hobbit: The Battle of the Five Armies,Immediately after the events of The Desolation...,120.965743,"[{""name"": ""WingNut Films"", ""id"": 11}, {""name"":...","[{""iso_3166_1"": ""NZ"", ""name"": ""New Zealand""}, ...",2014-12-10,956019788,144.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Witness the defining chapter of the Middle-Ear...,The Hobbit: The Battle of the Five Armies,7.1,4760
20,215000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.theamazingspiderman.com,1930,"[{""id"": 1872, ""name"": ""loss of father""}, {""id""...",en,The Amazing Spider-Man,Peter Parker is an outcast high schooler aband...,89.866276,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-06-27,752215857,136.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The untold story begins.,The Amazing Spider-Man,6.5,6586
21,200000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.robinhoodthemovie.com/,20662,"[{""id"": 4147, ""name"": ""robin hood""}, {""id"": 43...",en,Robin Hood,When soldier Robin happens upon the dying Robe...,37.668301,"[{""name"": ""Imagine Entertainment"", ""id"": 23}, ...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2010-05-12,310669540,140.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,"Rise and rise again, until lambs become lions.",Robin Hood,6.2,1398
22,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://www.thehobbit.com/,57158,"[{""id"": 603, ""name"": ""elves""}, {""id"": 604, ""na...",en,The Hobbit: The Desolation of Smaug,"The Dwarves, Bilbo and Gandalf have successful...",94.370564,"[{""name"": ""WingNut Films"", ""id"": 11}, {""name"":...","[{""iso_3166_1"": ""NZ"", ""name"": ""New Zealand""}, ...",2013-12-11,958400000,161.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Beyond darkness... beyond desolation... lies t...,The Hobbit: The Desolation of Smaug,7.6,4524
23,180000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://www.goldencompassmovie.com/index_german...,2268,"[{""id"": 392, ""name"": ""england""}, {""id"": 1461, ...",en,The Golden Compass,"After overhearing a shocking secret, precociou...",42.990906,"[{""name"": ""New Line Cinema"", ""id"": 12}, {""name...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2007-12-04,372234864,113.0,"[{""iso_639_1"": ""is"", ""name"": ""\u00cdslenska""},...",Released,There are worlds beyond our own - the compass ...,The Golden Compass,5.8,1303
24,207000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",NaN,254,"[{""id"": 774, ""name"": ""film business""}, {""id"": ...",en,King Kong,"In 1933 New York, an overly ambitious movie pr...",61.226010,"[{""name"": ""WingNut Films"", ""id"": 11}, {""name"":...","[{""iso_3166_1"": ""NZ"", ""name"": ""New Zealand""}, ...",2005-12-14,550000000,187.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The eighth wonder of the world.,King Kong,6.6,2337
25,200000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",http://www.titanicmovie.com,597,"[{""id"": 2580, ""name"": ""shipwreck""}, {""id"": 298...",en,Titanic,"84 years later, a 101-year-old woman named Ros...",100.025899,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1997-11-18,1845034188,194.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Nothing on Earth could come between them.,Titanic,7.5,7562
26,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://marvel.com/captainamericapremiere,271110,"[{""id"": 393, ""name"": ""civil war""}, {""id"": 6091...",en,Captain America: Civil War,"Following the events of Age of Ultron, the col...",198.372395,"[{""name"": ""Studio Babelsberg"", ""id"": 264}, {""n...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2016-04-27,1153304495,147.0,"[{""iso_639_1"": ""ro"", ""name"": ""Rom\u00e2n\u0103...",Released,Divided We Fall,Captain America: Civil War,7.1,7241
27,209000000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 28, ""n...",NaN,44833,"[{""id"": 1721, ""name"": ""fight""}, {""id"": 4410, ""...",en,Battleship,"When mankind beams a radio signal into space, ...",64.928382,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-04-11,303025485,131.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The Battle for Earth Begins at Sea,Battleship,5.5,2114
28,150000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.jurassicworld.com/,135397,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 1718,...",en,Jurassic World,Twenty-two years after the events of Jurassic ...,418.708552,"[{""name"": ""Universal Studios"", ""id"": 13}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-06-09,1513528810,124.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The park is open.,Jurassic World,6.5,8662
29,200000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.skyfall-movie.com,37724,"[{""id"": 470, ""name"": ""spy""}, {""id"": 4289, ""nam...",en,Skyfall,When Bond's latest assignment goes gravely wro...,93.004993,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2012-10-25,1108561013,143.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Think on your sins.,Skyfall,6.9,7604
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4773,27000,"[{""id"": 35, ""name"": ""Comedy""}]",http://www.miramax.com/movie/clerks/,2292,"[{""id"": 1361, ""name"": ""salesclerk""}, {""id"": 30...",en,Clerks,Convenience and video store clerks Dante and R...,19.748658,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1994-09-13,3151130,92.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Just because they serve you doesn't mean they ...,Clerks,7.4,755
4774,27000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",NaN,42497,"[{""id"": 1566, ""name"": ""dream""}, {""id"": 13059, ...",en,Pink Narcissus,An erotic poem set in the fantasies of a young...,0.027811,"[{""name"": ""Strand Releasing"", ""id"": 3923}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1971-01-01,0,64.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,A unique experience in visual fantasy!,Pink Narcissus,6.0,9
4775,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",NaN,33693,"[{""id"": 171993, ""name"": ""mumblecore""}]",en,Funny Ha Ha,"Unsure of what to do next, 23-year-old Marnie ...",0.362633,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2002-09-20,76901,85.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,Funny Ha Ha,6.3,8
4776,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",NaN,14585,"[{""id"": 1438, ""name"": ""office""}, {""id"": 9673, ...",en,In the Company of Men,Two business executives--one an avowed misogyn...,2.634007,"[{""name"": ""Alliance Atlantis Communications"", ...","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...",1997-01-19,0,97.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Are all men bastards...or just misunderstood?,In the Company of Men,6.8,44
4777,0,"[{""id"": 18, ""name"": ""Drama""}]",NaN,185465,[],en,Manito,"Fifteen years ago, their Washington Heights ne...",0.039264,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2002-01-15,0,78.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}, ...",Released,NaN,Manito,5.5,2
4778,0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 18, ""nam...",NaN,38780,"[{""id"": 10022, ""name"": ""rampage""}, {""id"": 1454...",en,Rampage,The boredom of small town life is eating Bill ...,7.101197,"[{""name"": ""Boll Kino Beteiligungs GmbH & Co. K...","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...",2009-08-14,0,85.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Vengeance is ruthless.,Rampage,6.0,131
4779,0,"[{""id"": 35, ""name"": ""Comedy""}]",NaN,14022,"[{""id"": 305, ""name"": ""moon""}, {""id"": 490, ""nam...",en,Slacker,"Presents a day in the life in Austin, Texas am...",3.320622,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1990-07-27,0,97.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,Slacker,6.4,77
4780,0,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 80, ""n...",NaN,366967,[],en,Dutch Kills,A desperate ex-con is forced to gather his old...,0.038143,[],[],2015-10-02,0,90.0,[],Released,NaN,Dutch Kills,0.0,0
4781,22000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",https://www.facebook.com/DrySpellMovie,255266,"[{""id"": 13043, ""name"": ""dating""}, {""id"": 15160...",en,Dry Spell,Sasha tries to get her soon-to-be ex husband K...,0.048948,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-02-14,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Getting divorced does funny things to a girl,Dry Spell,6.0,1

##### The 'tmdb_5000_credits.csv' database is imported

In [3]:
credits=pd.read_csv('tmdb_5000_credits.csv')
credits

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
5,559,Spider-Man 3,"[{""cast_id"": 30, ""character"": ""Peter Parker / ...","[{""credit_id"": ""52fe4252c3a36847f80151a5"", ""de..."
6,38757,Tangled,"[{""cast_id"": 34, ""character"": ""Flynn Rider (vo...","[{""credit_id"": ""52fe46db9251416c91062101"", ""de..."
7,99861,Avengers: Age of Ultron,"[{""cast_id"": 76, ""character"": ""Tony Stark / Ir...","[{""credit_id"": ""55d5f7d4c3a3683e7e0016eb"", ""de..."
8,767,Harry Potter and the Half-Blood Prince,"[{""cast_id"": 3, ""character"": ""Harry Potter"", ""...","[{""credit_id"": ""52fe4273c3a36847f801fab1"", ""de..."
9,209112,Batman v Superman: Dawn of Justice,"[{""cast_id"": 18, ""character"": ""Bruce Wayne / B...","[{""credit_id"": ""553bf23692514135c8002886"", ""de..."
10,1452,Superman Returns,"[{""cast_id"": 3, ""character"": ""Superman / Clark...","[{""credit_id"": ""553bef6a9251416874003c8f"", ""de..."
11,10764,Quantum of Solace,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""52fe43b29251416c7501aa63"", ""de..."
12,58,Pirates of the Caribbean: Dead Man's Chest,"[{""cast_id"": 37, ""character"": ""Captain Jack Sp...","[{""credit_id"": ""52fe4211c3a36847f8001873"", ""de..."
13,57201,The Lone Ranger,"[{""cast_id"": 4, ""character"": ""Tonto"", ""credit_...","[{""credit_id"": ""52fe4928c3a36847f818be95"", ""de..."
14,49521,Man of Steel,"[{""cast_id"": 2, ""character"": ""Clark Kent / Kal...","[{""credit_id"": ""52fe4799c3a36847f813e667"", ""de..."
15,2454,The Chronicles of Narnia: Prince Caspian,"[{""cast_id"": 1, ""character"": ""Prince Caspian"",...","[{""credit_id"": ""55a239e69251412979002e8b"", ""de..."
16,24428,The Avengers,"[{""cast_id"": 46, ""character"": ""Tony Stark / Ir...","[{""credit_id"": ""52fe4495c3a368484e02b1cf"", ""de..."
17,1865,Pirates of the Caribbean: On Stranger Tides,"[{""cast_id"": 15, ""character"": ""Captain Jack Sp...","[{""credit_id"": ""566b4f54c3a3683f56005151"", ""de..."
18,41154,Men in Black 3,"[{""cast_id"": 4, ""character"": ""Agent J"", ""credi...","[{""credit_id"": ""52fe45b7c3a36847f80d68c7"", ""de..."
19,122917,The Hobbit: The Battle of the Five Armies,"[{""cast_id"": 10, ""character"": ""Bilbo Baggins"",...","[{""credit_id"": ""548ad49a9251414fa20011ab"", ""de..."
20,1930,The Amazing Spider-Man,"[{""cast_id"": 56, ""character"": ""Peter Parker / ...","[{""credit_id"": ""5395a60dc3a368641d004492"", ""de..."
21,20662,Robin Hood,"[{""cast_id"": 1, ""character"": ""Robin Longstride...","[{""credit_id"": ""52fe43f2c3a368484e0076ad"", ""de..."
22,57158,The Hobbit: The Desolation of Smaug,"[{""cast_id"": 3, ""character"": ""Bilbo Baggins"", ...","[{""credit_id"": ""52fe4926c3a36847f818b787"", ""de..."
23,2268,The Golden Compass,"[{""cast_id"": 43, ""character"": ""Lyra Belacqua"",...","[{""credit_id"": ""52fe4348c3a36847f8048635"", ""de..."
24,254,King Kong,"[{""cast_id"": 5, ""character"": ""Ann Darrow"", ""cr...","[{""credit_id"": ""52fe422ec3a36847f800a1d7"", ""de..."
25,597,Titanic,"[{""cast_id"": 20, ""character"": ""Rose DeWitt Buk...","[{""credit_id"": ""52fe425ac3a36847f8017985"", ""de..."
26,271110,Captain America: Civil War,"[{""cast_id"": 9, ""character"": ""Steve Rogers / C...","[{""credit_id"": ""569443d59251414b67000428"", ""de..."
27,44833,Battleship,"[{""cast_id"": 3, ""character"": ""Lieutenant Alex ...","[{""credit_id"": ""52fe469ec3a36847f8108d45"", ""de..."
28,135397,Jurassic World,"[{""cast_id"": 10, ""character"": ""Owen Grady"", ""c...","[{""credit_id"": ""52fe4bf7c3a368484e1a0683"", ""de..."
29,37724,Skyfall,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""52fe46689251416c910537ad"", ""de..."
...,...,...,...,...
4773,2292,Clerks,"[{""cast_id"": 7, ""character"": ""Dante Hicks"", ""c...","[{""credit_id"": ""52fe434ac3a36847f8049253"", ""de..."
4774,42497,Pink Narcissus,"[{""cast_id"": 1006, ""character"": ""Pan"", ""credit...","[{""credit_id"": ""52fe4606c3a36847f80e7ed9"", ""de..."
4775,33693,Funny Ha Ha,"[{""cast_id"": 1, ""character"": ""Marnie"", ""credit...","[{""credit_id"": ""52fe45309251416c9102a535"", ""de..."
4776,14585,In the Company of Men,"[{""cast_id"": 1, ""character"": ""Chad"", ""credit_i...","[{""credit_id"": ""52fe46049251416c7506a36b"", ""de..."
4777,185465,Manito,"[{""cast_id"": 1, ""character"": ""Junior Moreno"", ...","[{""credit_id"": ""54931bbf925141090e001d32"", ""de..."
4778,38780,Rampage,"[{""cast_id"": 1, ""character"": ""Bill Williamson""...","[{""credit_id"": ""52fe46df9251416c91062979"", ""de..."
4779,14022,Slacker,"[{""cast_id"": 1, ""character"": ""Should Have Stay...","[{""credit_id"": ""52fe45c49251416c75061c17"", ""de..."
4780,366967,Dutch Kills,"[{""cast_id"": 4, ""character"": ""Val"", ""credit_id...","[{""credit_id"": ""563d13ec9251414c70007d5e"", ""de..."
4781,255266,Dry Spell,"[{""cast_id"": 4, ""character"": ""Sasha"", ""credit_...","[{""credit_id"": ""52fe4ee39251416c911412e7"", ""de..."
4782,17345,Flywheel,"[{""cast_id"": 1, ""character"": ""Jay"", ""credit_id...","[{""credit_id"": ""52fe471e9251416c7508e579"", ""de..."
4783,226458,Backmask,"[{""cast_id"": 3, ""character"": ""Father Conway"", ...","[{""credit_id"": ""554c8351c3a3685e500041f5"", ""de..."
4784,24055,The Puffy Chair,"[{""cast_id"": 4, ""character"": ""Josh"", ""credit_i...","[{""credit_id"": ""52fe447fc3a368484e026881"", ""de..."
4785,287625,Stories of Our Lives,"[{""cast_id"": 8, ""character"": """", ""credit_id"": ...","[{""credit_id"": ""549e790a9251414d27003096"", ""de..."
4786,44990,Breaking Upwards,"[{""cast_id"": 1, ""character"": ""Zoe"", ""credit_id...","[{""credit_id"": ""572239efc3a368712a0007db"", ""de..."
4787,86304,All Superheroes Must Die,"[{""cast_id"": 1, ""character"": ""Charge / John"", ...","[{""credit_id"": ""52fe497f9251416c910af3d1"", ""de..."
4788,692,Pink Flamingos,"[{""cast_id"": 8, ""character"": ""Divine / Babs Jo...","[{""credit_id"": ""52fe426bc3a36847f801d203"", ""de..."
4789,39851,Clean,"[{""cast_id"": 1, ""character"": ""Emily Wang"", ""cr...","[{""credit_id"": ""52fe47369251416c9106db9b"", ""de..."
4790,13898,The Circle,"[{""cast_id"": 3, ""character"": ""Nargess"", ""credi...","[{""credit_id"": ""52fe45b09251416c7505f189"", ""de..."
4791,157185,Tin Can Man,"[{""cast_id"": 1, ""character"": ""Dave"", ""credit_i...","[{""credit_id"": ""54c7851b925141679100372a"", ""de..."
4792,36095,Cure,"[{""cast_id"": 3, ""character"": ""Kenichi Takabe"",...","[{""credit_id"": ""52fe45cc9251416c9103eb7b"", ""de..."
4793,182291,On The Downlow,"[{""cast_id"": 1, ""character"": ""Isaac"", ""credit_...","[{""credit_id"": ""548c416392514122ef00197d"", ""de..."
4794,286939,Sanctuary: Quite a Conundrum,"[{""cast_id"": 3, ""character"": ""Mimi"", ""credit_i...","[{""credit_id"": ""545f8107c3a3686cbb0041fd"", ""de..."
4795,124606,Bang,"[{""cast_id"": 2, ""character"": ""The Girl"", ""cred...","[{""credit_id"": ""52fe4ab0c3a368484e161add"", ""de..."
4796,14337,Primer,"[{""cast_id"": 1, ""character"": ""Aaron"", ""credit_...","[{""credit_id"": ""52fe45e79251416c75066791"", ""de..."
4797,67238,Cavite,[],"[{""credit_id"": ""52fe475dc3a368484e0c319f"", ""de..."
4798,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [4]:
# The column 'id' in movies is renamed 'movie_id' to conform with credits dataframe
movies.rename(columns={'id': 'movie_id'}, inplace=True)

#### 1.For each movie, compute the number of cast members.

In [5]:
# Function that extracts the cast. If the cast is not defined in the movie, the number of cast members is set to None.
def extract_cast(x):
    d=json.loads(x)
    if len(d)==0 :
        nc=None
    else :
        nc=pd.DataFrame(d)['cast_id'].count()
    return nc


# The number of cast members is evaluated for each row applying the extract_cast function.
credits['n. cast members']=credits['cast'].apply(lambda row: extract_cast(row) if(pd.notnull(row)) else None)
credits[['movie_id','title','n. cast members']]

      movie_id                                        title  n. cast members
0        19995                                       Avatar             83.0
1          285     Pirates of the Caribbean: At World's End             34.0
2       206647                                      Spectre             83.0
3        49026                        The Dark Knight Rises            158.0
4        49529                                  John Carter             27.0
5          559                                 Spider-Man 3            143.0
6        38757                                      Tangled             13.0
7        99861                      Avengers: Age of Ultron             72.0
8          767       Harry Potter and the Half-Blood Prince             49.0
9       209112           Batman v Superman: Dawn of Justice            152.0
10        1452                             Superman Returns             18.0
11       10764                            Quantum of Solace             32.0
12          58   Pirates of the Caribbean: Dead Man's Chest             33.0
13       57201                              The Lone Ranger             60.0
14       49521                                 Man of Steel             33.0
15        2454     The Chronicles of Narnia: Prince Caspian             21.0
16       24428                                 The Avengers            115.0
17        1865  Pirates of the Caribbean: On Stranger Tides             35.0
18       41154                               Men in Black 3             18.0
19      122917    The Hobbit: The Battle of the Five Armies             42.0
20        1930                       The Amazing Spider-Man             57.0
21       20662                                   Robin Hood             34.0
22       57158          The Hobbit: The Desolation of Smaug             32.0
23        2268                           The Golden Compass             29.0
24         254                                    King Kong             33.0
25         597                                      Titanic            136.0
26      271110                   Captain America: Civil War            100.0
27       44833                                   Battleship             46.0
28      135397                               Jurassic World             28.0
29       37724                                      Skyfall             24.0
...        ...                                          ...              ...
4773      2292                                       Clerks             15.0
4774     42497                               Pink Narcissus              3.0
4775     33693                                  Funny Ha Ha             15.0
4776     14585                        In the Company of Men              5.0
4777    185465                                       Manito              6.0
4778     38780                                      Rampage             14.0
4779     14022                                      Slacker              2.0
4780    366967                                  Dutch Kills              5.0
4781    255266                                    Dry Spell              6.0
4782     17345                                     Flywheel              1.0
4783    226458                                     Backmask             22.0
4784     24055                              The Puffy Chair              3.0
4785    287625                         Stories of Our Lives             11.0
4786     44990                             Breaking Upwards             15.0
4787     86304                     All Superheroes Must Die              5.0
4788       692                               Pink Flamingos             11.0
4789     39851                                        Clean             10.0
4790     13898                                   The Circle              7.0
4791    157185                                  Tin Can Man              4.0
4792     36095                                         Cure             15.0
4793    182291                               On The Downlow             24.0
4794    286939                 Sanctuary: Quite a Conundrum              5.0
4795    124606                                         Bang             14.0
4796     14337                                       Primer             19.0
4797     67238                                       Cavite              NaN
4798      9367                                  El Mariachi              7.0
4799     72766                                    Newlyweds              5.0
4800    231617                    Signed, Sealed, Delivered              7.0
4801    126186                             Shanghai Calling              5.0
4802     25975                            My Date with Drew              8.0

[4803 rows x 3 columns]

In [6]:
# Example: number of cast members in 'Casino Royale'
credits[credits['title']=='Casino Royale']

,movie_id,title,cast,crew,n. cast members
277,36557,Casino Royale,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""53ac1fd7c3a3684bc8001908"", ""de...",79.0

#### 2. How many movies do not have a homepage?

In [7]:
movies[movies['homepage'].isnull()].shape[0]

3091

#### 3. For each year, how many movies do not have a homepage?

In [8]:
# The year of release is exctracted from the release_date through a conversion to datetime type.
movies['year']=pd.to_datetime(movies['release_date']).dt.year
# Selection of the missing homepage records.
movies_nullhp=movies[movies['homepage'].isnull()]
# For each year, the number of movies without homepage is evaluated: the size function gives the numbers of elements.
movies_nullhp=movies_nullhp.groupby(movies_nullhp['year'],as_index=False).size()#.sum()
movies_nullhp
#applying the .sum() function, the total number of records without homepage is given: 3090.

year
1916.0      1
1925.0      1
1927.0      1
1929.0      2
1930.0      1
1932.0      1
1933.0      2
1934.0      1
1935.0      1
1936.0      2
1937.0      1
1938.0      2
1939.0      2
1940.0      4
1941.0      1
1942.0      1
1944.0      2
1945.0      4
1946.0      3
1947.0      3
1948.0      3
1949.0      2
1950.0      1
1951.0      3
1952.0      4
1953.0      4
1954.0      4
1955.0      2
1956.0      3
1957.0      2
         ...
1987.0     29
1988.0     28
1989.0     28
1990.0     24
1991.0     29
1992.0     29
1993.0     44
1994.0     50
1995.0     64
1996.0     86
1997.0    102
1998.0    119
1999.0    145
2000.0    145
2001.0    159
2002.0    164
2003.0    131
2004.0    149
2005.0    149
2006.0    144
2007.0     92
2008.0     97
2009.0     85
2010.0     54
2011.0     43
2012.0     92
2013.0    127
2014.0    157
2015.0    110
2016.0     31
Length: 89, dtype: int64

In [9]:
# The .size() obtained from the grouped per year data is 3090 rather than 3091 because the movie 'America Is Still the Place' does not have 'release_date' nor 'homepage' 
movies[movies['homepage'].isnull() & movies['release_date'].isnull()]

,budget,genres,homepage,movie_id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,year
4553,0,[],NaN,380097,[],en,America Is Still the Place,1971 post civil rights San Francisco seemed li...,0.0,[],...,NaN,0,0.0,[],Released,NaN,America Is Still the Place,0.0,0,NaN

In [10]:
# Example: percentage of movies without homepage in 2010
movies_with_homepage=movies[movies['homepage'].notnull()]
movies_with_homepage=movies_with_homepage.groupby(movies_with_homepage['year'],as_index=False).size()
movies_nullhp.loc[2010]*100/(movies_nullhp.loc[2010]+movies_with_homepage.loc[2010])

24.0

#### 4.Extract the domain of each homepage.

In [11]:
# To begin with, it is important to notice that one movie has more than one homepage.
movies[movies['homepage'].str.contains(' ', na=False)]

,budget,genres,homepage,movie_id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,year
3730,0,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 9648, ...",http://www.cargoderfilm.ch http://cargothemovi...,34069,"[{""id"": 3388, ""name"": ""space colony""}, {""id"": ...",de,Cargo,The story of CARGO takes place on rusty space-...,10.142218,"[{""name"": ""Telepool"", ""id"": 823}, {""name"": ""At...",...,2009-09-24,0,120.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,NaN,Cargo,5.9,140,2009.0

In [12]:
# Function that extracts domains from 'homepage'.
def domain_extractor (row):
    aux_string=""
    row=row.split(" ")
    
    # If more than one homepage is present, the loop allows to treat them singularly.
    for aux in range(len(row)):
        
        # Protocol is removed.
        row[aux]=row[aux].split("//")[1].split("/")[0]

        # 'www.' is removed if present
        if(row[aux].startswith('www.')==True):
            row[aux]=row[aux][4:]
            
        # If it is the first homepage
        if aux==0:        
             aux_string=row[aux]
                
        # If it is not the first homepage, the following domains are added with " " as separator.
        else:
            aux_string=aux_string+" "+row[aux]

    return aux_string


# Function that extracts top-level domains from 'homepage'.
def top_level_domain_extractor (row):
    aux_string=""
    row=row.split(" ")
    
    # If more than one domain is present, the loop allows to treat them singularly.
    for aux in range(len(row)):
        
        # If it is the first domain.
        if aux==0:        
            # The top-level domain is separated.
            aux_string=row[aux].split(".")[-1]
            
        # If it is not the first domain, the following top-level domains are added with " " as separator.
        else:
            aux_string=aux_string+" "+row[aux].split(".")[-1]

    return aux_string


# The domain is extracted applying 'domain_extractor' to all rows.
movies['domain']=movies[movies['homepage'].notnull()]['homepage'].apply(domain_extractor)

# Top-level domain is extracted.
movies['top-level domain']=movies[movies['homepage'].notnull()]['domain'].apply(top_level_domain_extractor)

movies[movies['homepage'].notnull()][['title','homepage','domain','top-level domain']]

,title,homepage,domain,top-level domain
0,Avatar,http://www.avatarmovie.com/,avatarmovie.com,com
1,Pirates of the Caribbean: At World's End,http://disney.go.com/disneypictures/pirates/,disney.go.com,com
2,Spectre,http://www.sonypictures.com/movies/spectre/,sonypictures.com,com
3,The Dark Knight Rises,http://www.thedarkknightrises.com/,thedarkknightrises.com,com
4,John Carter,http://movies.disney.com/john-carter,movies.disney.com,com
5,Spider-Man 3,http://www.sonypictures.com/movies/spider-man3/,sonypictures.com,com
6,Tangled,http://disney.go.com/disneypictures/tangled/,disney.go.com,com
7,Avengers: Age of Ultron,http://marvel.com/movies/movie/193/avengers_ag...,marvel.com,com
8,Harry Potter and the Half-Blood Prince,http://harrypotter.warnerbros.com/harrypottera...,harrypotter.warnerbros.com,com
9,Batman v Superman: Dawn of Justice,http://www.batmanvsupermandawnofjustice.com/,batmanvsupermandawnofjustice.com,com
10,Superman Returns,http://www.superman.com,superman.com,com
11,Quantum of Solace,http://www.mgm.com/view/movie/234/Quantum-of-S...,mgm.com,com
12,Pirates of the Caribbean: Dead Man's Chest,http://disney.go.com/disneypictures/pirates/,disney.go.com,com
13,The Lone Ranger,http://disney.go.com/the-lone-ranger/,disney.go.com,com
14,Man of Steel,http://www.manofsteel.com/,manofsteel.com,com
16,The Avengers,http://marvel.com/avengers_movie/,marvel.com,com
17,Pirates of the Caribbean: On Stranger Tides,http://disney.go.com/pirates/index-on-stranger...,disney.go.com,com
18,Men in Black 3,http://www.sonypictures.com/movies/meninblack3/,sonypictures.com,com
19,The Hobbit: The Battle of the Five Armies,http://www.thehobbit.com/,thehobbit.com,com
20,The Amazing Spider-Man,http://www.theamazingspiderman.com,theamazingspiderman.com,com
21,Robin Hood,http://www.robinhoodthemovie.com/,robinhoodthemovie.com,com
22,The Hobbit: The Desolation of Smaug,http://www.thehobbit.com/,thehobbit.com,com
23,The Golden Compass,http://www.goldencompassmovie.com/index_german...,goldencompassmovie.com,com
25,Titanic,http://www.titanicmovie.com,titanicmovie.com,com
26,Captain America: Civil War,http://marvel.com/captainamericapremiere,marvel.com,com
28,Jurassic World,http://www.jurassicworld.com/,jurassicworld.com,com
29,Skyfall,http://www.skyfall-movie.com,skyfall-movie.com,com
30,Spider-Man 2,http://www.sonypictures.com/movies/spider-man2/,sonypictures.com,com
31,Iron Man 3,http://marvel.com/ironman3,marvel.com,com
32,Alice in Wonderland,http://disney.go.com/wonderland/,disney.go.com,com
...,...,...,...,...
4695,Children of Heaven,http://www.miramax.com/movie/children-of-heaven/,miramax.com,com
4696,Weekend,http://weekenderfilm.tumblr.com/,weekenderfilm.tumblr.com,com
4700,Another Earth,http://www.anotherearth.com/,anotherearth.com,com
4701,Sweet Sweetback's Baadasssss Song,http://www.sonyclassics.com/badass/,sonyclassics.com,com
4704,Once,http://www.foxsearchlight.com/once/,foxsearchlight.com,com
4711,Aroused,http://thearousedproject.com/,thearousedproject.com,com
4717,Your Sister's Sister,http://www.yoursisterssister-themovie.com/,yoursisterssister-themovie.com,com
4718,A Dog's Breakfast,http://www.adogsbreakfastmovie.com/,adogsbreakfastmovie.com,com
4720,The Birth of a Nation,http://www.foxsearchlight.com/thebirthofanation/,foxsearchlight.com,com
4722,Facing the Giants,http://www.facingthegiants.com/,facingthegiants.com,com
4723,The Gallows,http://thegallowsmovie.com/,thegallowsmovie.com,com
4731,Indie Game: The Movie,http://www.indiegamethemovie.com,indiegamethemovie.com,com
4738,Pi,http://www.pithemovie.com/,pithemovie.com,com
4746,Tiger Orange,http://www.tigerorangemovie.com/,tigerorangemovie.com,com
4750,The Dirties,http://www.thedirtiesthemovie.com/,thedirtiesthemovie.com,com
4752,Tiny Furniture,http://tinyfurniture.com/,tinyfurniture.com,com
4756,The Call of Cthulhu,http://www.cthulhulives.org/cocmovie/index.html,cthulhulives.org,org
4757,Bending Steel,http://www.bendingsteelmovie.com/,bendingsteelmovie.com,com
4758,The Signal,https://www.facebook.com/thesignalfilm,facebook.com,com
4760,This Is Martin Bonner,http://www.montereymedia.com/theatrical/films/...,montereymedia.com,com
4765,Raymond Did It,https://www.facebook.com/pages/Raymond-Did-It/...,facebook.com,com
4766,The Last Waltz,http://www.mgm.com/#/our-titles/1092/The-Last-...,mgm.com,com
4772,Down Terrace,http://downterrace.blogspot.com/,downterrace.blogspot.com,com
4773,Clerks,http://www.miramax.com/movie/clerks/,miramax.com,com
4781,Dry Spell,https://www.facebook.com/DrySpellMovie,facebook.com,com
4784,The Puffy Chair,http://www.thepuffychairmovie.com,thepuffychairmovie.com,com
4791,Tin Can Man,http://tincanmanthemovie.com/,tincanmanthemovie.com,com
4796,Primer,http://www.primermovie.com,primermovie.com,com
4800,"Signed, Sealed, Delivered",http://www.hallmarkchannel.com/signedsealeddel...,hallmarkchannel.com,com
4801,Shanghai Calling,http://shanghaicalling.com/,shanghaicalling.com,com

In [13]:
# Domains and top-level domains of the movie with 2 homepages, 'Cargo'.
movies[movies['title']=='Cargo'][['title','homepage','domain','top-level domain']]

,title,homepage,domain,top-level domain
3730,Cargo,http://www.cargoderfilm.ch http://cargothemovi...,cargoderfilm.ch cargothemovie.com,ch com

In [14]:
# Example: domain of 'Inception'
movies[movies['title']=='Inception'][['title','homepage','domain','top-level domain']]

,title,homepage,domain,top-level domain
96,Inception,http://inceptionmovie.warnerbros.com/,inceptionmovie.warnerbros.com,com

#### 5. Extract a set of normalized tables.

###### Definition of the functions used

In [15]:

# Function that reads the json attribute for each row with pd.read_json, adds the other attributes of the row and append the resultant row to the input dataframe.
def json_to_df(row, dfs, json_col):
    json_df = pd.read_json(row[json_col])
    dfs.append(json_df.assign(**row.drop(json_col)))

# Function that from an empty list returns the normalized table using the json_to_df function that fill the list.
def table_normalizer(table, json_col):
    aux_ls = [] # Empty auxiliary list
    table.apply(json_to_df, json_col=json_col, dfs=aux_ls, axis=1) # Apply the function json_to_df to all rows
    return pd.concat(aux_ls) # The result is a dataframe

###### Normalization

In [16]:
#Normalization of 'crew' json attribute in credits.
crew_norm=credits[['crew','title','movie_id']]# Attributes to be inserted in the table are selected.
crew_norm=table_normalizer(crew_norm, json_col='crew')# Normalization based on the defined json column.
crew_norm.replace({"gender": {2.0: "M", 1.0: "F", 0.0: None}}, inplace = True)# 'gender' attribute is redefined: 2.0 corresponds to M (male), 1.0 corresponds to F (female), 0.0 corresponds to  None (not defined).
crew_norm.set_index('credit_id', inplace=True, verify_integrity=True) # Setting the index, controlling the uniqueness of the indexing.
crew_norm.rename(columns={'id': 'crew id'}, inplace=True) 
crew_norm.head()

,department,gender,crew id,job,movie_id,name,title
credit_id,,,,,,,
52fe48009251416c750aca23,Editing,None,1721.0,Editor,19995,Stephen E. Rivkin,Avatar
539c47ecc3a36810e3001f87,Art,M,496.0,Production Design,19995,Rick Carter,Avatar
54491c89c3a3680fb4001cf7,Sound,None,900.0,Sound Designer,19995,Christopher Boyes,Avatar
54491cb70e0a267480001bd0,Sound,None,900.0,Supervising Sound Editor,19995,Christopher Boyes,Avatar
539c4a4cc3a36810c9002101,Production,F,1262.0,Casting,19995,Mali Finn,Avatar

In [17]:
#Normalization of 'cast' json attribute in credits.
cast_norm=credits[['cast','title','movie_id']]
cast_norm=table_normalizer(cast_norm, json_col='cast')
cast_norm.replace({"gender": {2.0: "M", 1.0: "F", 0.0: None}}, inplace = True)
cast_norm.set_index('credit_id', inplace=True, verify_integrity=True) 
cast_norm.rename(columns={'id': 'actor id', 'name': 'actor name'}, inplace=True)
cast_norm.head()

,cast_id,character,gender,actor id,movie_id,actor name,order,title
credit_id,,,,,,,,
5602a8a7c3a3685532001c9a,242.0,Jake Sully,M,65731.0,19995,Sam Worthington,0.0,Avatar
52fe48009251416c750ac9cb,3.0,Neytiri,F,8691.0,19995,Zoe Saldana,1.0,Avatar
52fe48009251416c750aca39,25.0,Dr. Grace Augustine,F,10205.0,19995,Sigourney Weaver,2.0,Avatar
52fe48009251416c750ac9cf,4.0,Col. Quaritch,M,32747.0,19995,Stephen Lang,3.0,Avatar
52fe48009251416c750ac9d3,5.0,Trudy Chacon,F,17647.0,19995,Michelle Rodriguez,4.0,Avatar

In [18]:
#Normalization of 'genres' json attribute in movies.
genres_norm=movies[['genres','title','movie_id']]
genres_norm=table_normalizer(genres_norm, json_col='genres')
genres_norm.rename(columns={'id': 'genre id', 'name':'genre'}, inplace=True)
genres_norm.set_index(['genre id','movie_id'], inplace=True, verify_integrity=True)
genres_norm.head()

                             genre                                     title
genre id movie_id
28.0     19995              Action                                    Avatar
12.0     19995           Adventure                                    Avatar
14.0     19995             Fantasy                                    Avatar
878.0    19995     Science Fiction                                    Avatar
12.0     285             Adventure  Pirates of the Caribbean: At World's End

In [19]:
#Normalization of 'keywords' json attribute in movies.
keywords_norm=movies[['keywords','title','movie_id']]
keywords_norm=table_normalizer(keywords_norm, json_col='keywords')
keywords_norm.rename(columns={'id': 'keyword id', 'name': 'keyword name'}, inplace=True)
keywords_norm.set_index(['keyword id','movie_id'], inplace=True, verify_integrity=True)
keywords_norm.head()

                      keyword name   title
keyword id movie_id
1463.0     19995     culture clash  Avatar
2964.0     19995            future  Avatar
3386.0     19995         space war  Avatar
3388.0     19995      space colony  Avatar
3679.0     19995           society  Avatar

In [20]:
#Normalization of 'production_companies' json attribute in movies.
prod_comp_norm=movies[['production_companies','title','movie_id']]
prod_comp_norm=table_normalizer(prod_comp_norm, json_col='production_companies')
prod_comp_norm.rename(columns={'name': 'production company','id': 'company id'}, inplace=True)
prod_comp_norm.set_index(['company id','movie_id'], inplace=True, verify_integrity=True)
prod_comp_norm.head()

,,production company,title
company id,movie_id,,
289.0,19995,Ingenious Film Partners,Avatar
306.0,19995,Twentieth Century Fox Film Corporation,Avatar
444.0,19995,Dune Entertainment,Avatar
574.0,19995,Lightstorm Entertainment,Avatar
2.0,285,Walt Disney Pictures,Pirates of the Caribbean: At World's End

In [21]:
#Normalization of 'production_countries' json attribute in movies.
prod_country_norm=movies[['production_countries','title','movie_id']]
prod_country_norm=table_normalizer(prod_country_norm, json_col='production_countries')
prod_country_norm.rename(columns={'name': 'country'}, inplace=True)
prod_country_norm.set_index(['movie_id','iso_3166_1'], inplace=True, verify_integrity=True)
prod_country_norm.head()

                                      country  \
movie_id iso_3166_1
19995    US          United States of America
         GB                    United Kingdom
285      US          United States of America
206647   GB                    United Kingdom
         US          United States of America

                                                        title
movie_id iso_3166_1
19995    US                                            Avatar
         GB                                            Avatar
285      US          Pirates of the Caribbean: At World's End
206647   GB                                           Spectre
         US                                           Spectre

In [22]:
#Normalization of 'spoken_languages' json attribute in movies.
spoken_language_norm=movies[['spoken_languages','title','movie_id']]
spoken_language_norm=table_normalizer(spoken_language_norm, json_col='spoken_languages')
spoken_language_norm.rename(columns={'name': 'language'}, inplace=True)
spoken_language_norm.set_index(['movie_id','iso_639_1'], inplace=True, verify_integrity=True)
spoken_language_norm.head()

                    language                                     title
movie_id iso_639_1
19995    en          English                                    Avatar
         es          EspaÃ±ol                                    Avatar
285      en          English  Pirates of the Caribbean: At World's End
206647   fr         FranÃ§ais                                   Spectre
         en          English                                   Spectre

#### 6.For each movie, compute the gross margin (difference between revenue and budget)

In [23]:

# The gross margin, difference between 'revenue' and 'budget', is calculated through .apply(). If one of the two arguments is not defined, the result is None

movies['gross margin'] = movies.apply(lambda row: row['revenue'] - row['budget'] if not (np.isnan(row['revenue']) or np.isnan(row['budget'])) else None, axis=1)
movies.set_index('movie_id', inplace=True, verify_integrity=True) 
movies[['title', 'gross margin', 'revenue', 'budget']]

# Some rows have 'revenue' or 'budget' equal to 0: they could be missing values but also real values (example: a movie not distributed in cinemas has no revenue).

,title,gross margin,revenue,budget
movie_id,,,,
19995,Avatar,2550965087,2787965087,237000000
285,Pirates of the Caribbean: At World's End,661000000,961000000,300000000
206647,Spectre,635674609,880674609,245000000
49026,The Dark Knight Rises,834939099,1084939099,250000000
49529,John Carter,24139100,284139100,260000000
559,Spider-Man 3,632871626,890871626,258000000
38757,Tangled,331794936,591794936,260000000
99861,Avengers: Age of Ultron,1125403694,1405403694,280000000
767,Harry Potter and the Half-Blood Prince,683959197,933959197,250000000
209112,Batman v Superman: Dawn of Justice,623260194,873260194,250000000
1452,Superman Returns,121081192,391081192,270000000
10764,Quantum of Solace,386090727,586090727,200000000
58,Pirates of the Caribbean: Dead Man's Chest,865659812,1065659812,200000000
57201,The Lone Ranger,-165710090,89289910,255000000
49521,Man of Steel,437845518,662845518,225000000
2454,The Chronicles of Narnia: Prince Caspian,194651413,419651413,225000000
24428,The Avengers,1299557910,1519557910,220000000
1865,Pirates of the Caribbean: On Stranger Tides,665713802,1045713802,380000000
41154,Men in Black 3,399026776,624026776,225000000
122917,The Hobbit: The Battle of the Five Armies,706019788,956019788,250000000
1930,The Amazing Spider-Man,537215857,752215857,215000000
20662,Robin Hood,110669540,310669540,200000000
57158,The Hobbit: The Desolation of Smaug,708400000,958400000,250000000
2268,The Golden Compass,192234864,372234864,180000000
254,King Kong,343000000,550000000,207000000
597,Titanic,1645034188,1845034188,200000000
271110,Captain America: Civil War,903304495,1153304495,250000000
44833,Battleship,94025485,303025485,209000000
135397,Jurassic World,1363528810,1513528810,150000000
37724,Skyfall,908561013,1108561013,200000000
...,...,...,...,...
2292,Clerks,3124130,3151130,27000
42497,Pink Narcissus,-27000,0,27000
33693,Funny Ha Ha,76901,76901,0
14585,In the Company of Men,0,0,0
185465,Manito,0,0,0
38780,Rampage,0,0,0
14022,Slacker,0,0,0
366967,Dutch Kills,0,0,0
255266,Dry Spell,-22000,0,22000
17345,Flywheel,0,0,0
226458,Backmask,0,0,0
24055,The Puffy Chair,0,0,0
287625,Stories of Our Lives,0,0,0
44990,Breaking Upwards,0,0,0
86304,All Superheroes Must Die,0,0,0
692,Pink Flamingos,5988000,6000000,12000
39851,Clean,0,0,0
13898,The Circle,0,0,0
157185,Tin Can Man,-13,0,13
36095,Cure,79000,99000,20000
182291,On The Downlow,0,0,0
286939,Sanctuary: Quite a Conundrum,0,0,0
124606,Bang,0,0,0
14337,Primer,417760,424760,7000
67238,Cavite,0,0,0
9367,El Mariachi,1820920,2040920,220000
72766,Newlyweds,-9000,0,9000
231617,"Signed, Sealed, Delivered",0,0,0
126186,Shanghai Calling,0,0,0
25975,My Date with Drew,0,0,0

In [24]:
# Example: finding the movie with the maximum 'gross margin'
movies.loc[movies['gross margin'].idxmax()][['title', 'gross margin']]

title               Avatar
gross margin    2550965087
Name: 19995, dtype: object

#### 7.For each movie, compute the number of crew members

In [25]:
num_crew_members=crew_norm[['movie_id','title','crew id']].groupby(['movie_id','title']).count().rename(columns={'crew id': 'number of crew members'})
num_crew_members

                                                             number of crew members
movie_id title
5        Four Rooms                                                              88
11       Star Wars                                                               20
12       Finding Nemo                                                           104
13       Forrest Gump                                                            93
14       American Beauty                                                        109
16       Dancer in the Dark                                                      62
18       The Fifth Element                                                      134
19       Metropolis                                                              22
20       My Life Without Me                                                      17
22       Pirates of the Caribbean: The Curse of the Blac...                     128
24       Kill Bill: Vol. 1                                                      161
25       Jarhead                                                                 10
28       Apocalypse Now                                                          49
33       Unforgiven                                                              43
35       The Simpsons Movie                                                      66
38       Eternal Sunshine of the Spotless Mind                                   21
55       Amores perros                                                           59
58       Pirates of the Caribbean: Dead Man's Chest                              23
59       A History of Violence                                                   35
62       2001: A Space Odyssey                                                   19
65       8 Mile                                                                  92
66       Absolute Power                                                          18
68       Brazil                                                                  30
69       Walk the Line                                                           65
70       Million Dollar Baby                                                     81
71       Billy Elliot                                                            17
73       American History X                                                     100
74       War of the Worlds                                                      164
75       Mars Attacks!                                                           21
76       Before Sunrise                                                          12
...                                                                             ...
370662   Time to Choose                                                           3
370980   Chiamatemi Francesco - Il Papa della gente                               6
371690   Rotor DR1                                                               14
373314   Misconduct                                                              14
374461   Mr. Church                                                               9
375290   Airlift                                                                 13
375950   The Country Doctor                                                       5
376004   Adulterers                                                              41
376010   Western Religion                                                         3
376659   Bad Moms                                                                 4
378200   The Perfect Match                                                        5
379532   Rodeo Girl                                                               9
380733   Fight to the Finish                                                      1
381902   The Monkey King 2                                                        3
385383   Fight Valley                                                             7
385636   Juliet and Alfa Romeo                                                    8
385736   Kicks                                                                   15
386826   A Beginner's Guide to Snuff                                              7
389425   Code of Honor                                                           29
394047   The Dog Lover                                                            6
395766   The Secret                                                               2
396152   Restoration                                                              3
402515   American Beast                                                           2
407887   Operation Chromite                                                       5
408429   Perfect Cowboy                                                           1
417859   Puss in Boots                                                           21
426067   Midnight Cabaret                                                         1
426469   Growing Up Smith                                                         3
433715   8 Days                                                                   3
459488   To Be Frank, Sinatra at 100                                              1

[4775 rows x 1 columns]

In [26]:
# Example: finding the movie with the maximum 'number of crew members'
num_crew_members.loc[num_crew_members['number of crew members'].idxmax()]

number of crew members    435
Name: (135397, Jurassic World), dtype: int64

#### 8.For each movie, compute the number of directors

In [27]:
num_directors=crew_norm[['movie_id','title','job']].loc[crew_norm['job'] == 'Director'].groupby(['movie_id','title']).count().rename(columns={'job': 'number of directors'})
num_directors

                                                             number of directors
movie_id title
5        Four Rooms                                                            4
11       Star Wars                                                             1
12       Finding Nemo                                                          1
13       Forrest Gump                                                          1
14       American Beauty                                                       1
16       Dancer in the Dark                                                    1
18       The Fifth Element                                                     1
19       Metropolis                                                            1
20       My Life Without Me                                                    1
22       Pirates of the Caribbean: The Curse of the Blac...                    1
24       Kill Bill: Vol. 1                                                     1
25       Jarhead                                                               1
28       Apocalypse Now                                                        1
33       Unforgiven                                                            1
35       The Simpsons Movie                                                    1
38       Eternal Sunshine of the Spotless Mind                                 1
55       Amores perros                                                         1
58       Pirates of the Caribbean: Dead Man's Chest                            1
59       A History of Violence                                                 1
62       2001: A Space Odyssey                                                 1
65       8 Mile                                                                1
66       Absolute Power                                                        1
68       Brazil                                                                1
69       Walk the Line                                                         1
70       Million Dollar Baby                                                   1
71       Billy Elliot                                                          1
73       American History X                                                    1
74       War of the Worlds                                                     1
75       Mars Attacks!                                                         1
76       Before Sunrise                                                        1
...                                                                          ...
370662   Time to Choose                                                        1
370980   Chiamatemi Francesco - Il Papa della gente                            1
371690   Rotor DR1                                                             1
373314   Misconduct                                                            1
374461   Mr. Church                                                            1
375290   Airlift                                                               1
375950   The Country Doctor                                                    1
376004   Adulterers                                                            1
376010   Western Religion                                                      1
376659   Bad Moms                                                              2
378200   The Perfect Match                                                     1
379532   Rodeo Girl                                                            1
380733   Fight to the Finish                                                   1
381902   The Monkey King 2                                                     1
385383   Fight Valley                                                          1
385636   Juliet and Alfa Romeo                                                 1
385736   Kicks                                                                 1
386826   A Beginner's Guide to Snuff                                           1
389425   Code of Honor                                                         1
394047   The Dog Lover                                                         1
395766   The Secret                                                            1
396152   Restoration                                                           1
402515   American Beast                                                        2
407887   Operation Chromite                                                    1
408429   Perfect Cowboy                                                        1
417859   Puss in Boots                                                         1
426067   Midnight Cabaret                                                      1
426469   Growing Up Smith                                                      1
433715   8 Days                                                                1
459488   To Be Frank, Sinatra at 100                                           1

[4773 rows x 1 columns]

In [28]:
# Example: number of directors of 'Four Rooms'.
num_directors.iloc[num_directors.index.get_level_values('title') == 'Four Rooms']

                     number of directors
movie_id title
5        Four Rooms                    4

#### 9.For each language, compute the number of movies where such language is spoken.

In [29]:
num_language=spoken_language_norm[['language','title']].groupby(by=['iso_639_1','language']).count().rename(columns={'title': 'number of movies'})
num_language

                          number of movies
iso_639_1 language
af        Afrikaans                      7
am                                       1
ar        Ø§Ù„Ø¹Ø±Ø¨ÙŠØ©                       67
bg        Ð±ÑŠÐ»Ð³Ð°Ñ€ÑÐºÐ¸ ÐµÐ·Ð¸Ðº                 3
bm        Bamanankan                     1
bn        à¦¬à¦¾à¦‚à¦²à¦¾                          1
bo                                       4
br                                       1
bs        Bosanski                       2
ca        CatalÃ                          1
ce                                       1
cn        å¹¿å·žè¯ / å»£å·žè©±                     48
co                                       1
cs        ÄŒeskÃ½                         38
cy        Cymraeg                        2
da        Dansk                         14
de        Deutsch                      262
dz                                       1
el        ÎµÎ»Î»Î·Î½Î¹ÎºÎ¬                      20
en        English                     4485
eo        Esperanto                      2
es        EspaÃ±ol                      351
et        Eesti                          2
fa        ÙØ§Ø±Ø³ÛŒ                         12
fi        suomi                          3
fr        FranÃ§ais                     437
ga        Gaeilge                        6
gd                                       6
gl        Galego                         1
he        ×¢Ö´×‘Ö°×¨Ö´×™×ª                      33
...                                    ...
ps        Ù¾ÚšØªÙˆ                           2
pt        PortuguÃªs                     68
ro        RomÃ¢nÄƒ                        13
ru        PÑƒÑÑÐºÐ¸Ð¹                      185
sa                                       1
sh                                       4
si                                       1
sk        SlovenÄina                     2
sl        SlovenÅ¡Äina                    1
so        Somali                         3
sq        shqip                          4
sr        Srpski                         6
st                                       1
sv        svenska                       22
sw        Kiswahili                      8
ta        à®¤à®®à®¿à®´à¯                          4
te        à°¤à±†à°²à±à°—à±                         1
th        à¸ à¸²à¸©à¸²à¹„à¸—à¸¢                       40
tl                                       1
to                                       1
tr        TÃ¼rkÃ§e                        18
uk        Ð£ÐºÑ€Ð°Ñ—Ð½ÑÑŒÐºÐ¸Ð¹                    9
ur        Ø§Ø±Ø¯Ùˆ                          15
vi        Tiáº¿ng Viá»‡t                    17
wo        Wolof                          1
xh                                       4
xx        No Language                    2
yi                                       8
zh        æ™®é€šè¯                          107
zu        isiZulu                        4

[87 rows x 1 columns]

In [30]:
# Example: 'number of movies' where italian is spoken.
num_language.iloc[num_language.index.get_level_values('language') == 'Italiano']

                    number of movies
iso_639_1 language
it        Italiano               188

#### 10.For each company and each decade, compute the overall revenue

In [31]:

# The 'revenue' and 'data released' attributes are added in the normalized production companies table: a merge on 'movie_id' is used.

companies_revenue = prod_comp_norm.reset_index().merge(right = movies.reset_index()[['revenue','release_date','movie_id']], on=['movie_id'])

# Using regex, the first 3 digits of the release date are extracted and '0' is added to obtain the decade; '.' In the default mode, this matches any character except a newline

companies_revenue['decade'] = companies_revenue['release_date'].str.extract('(...).-..-..', expand=True) + '0'
companies_revenue=companies_revenue[['company id','production company','decade','revenue']].groupby(by=['company id','production company','decade']).sum().rename(columns={'revenue': 'decade revenue'})
companies_revenue

                                                            decade revenue
company id production company                       decade
1.0        Lucasfilm                                1970         915398007
                                                    1980        2430621397
                                                    1990         924317558
                                                    2000        2286034361
                                                    2010          50365377
2.0        Walt Disney Pictures                     1940          83320000
                                                    1990        3030921011
                                                    2000       11096721366
                                                    2010       14472293671
3.0        Pixar Animation Studios                  1990        1234179761
                                                    2000        4476710793
                                                    2010        4098902234
4.0        Paramount Pictures                       1920            650422
                                                    1930           2200025
                                                    1950          43000000
                                                    1960         134245712
                                                    1970         796329984
                                                    1980        4431144486
                                                    1990        8824732067
                                                    2000       11536104632
                                                    2010       15110115837
5.0        Columbia Pictures                        1930          17033101
                                                    1950           9600000
                                                    1970          31755742
                                                    1980         215572367
                                                    1990        2130030687
                                                    2000       12168859651
                                                    2010       14026783227
6.0        RKO Radio Pictures                       1930           3202000
                                                    1940          99344124
...                                                                    ...
90897.0    Act III                                  1980          52287414
91005.0    Lyrick Studios                           1990                 0
91542.0    Aver Media                               2000                 0
91543.0    North West Vision                        2000                 0
91920.0    Rovio Animation                          2010         349779543
91929.0    Criminal Productions                     2010          14708696
92137.0    Dead FiancÃ©e Productions                 2000                 0
93101.0    Keshet Hot                               2000                 0
93102.0    Uchovsky Fox                             2000                 0
93103.0    Ronen Ben-Tal Films                      2000                 0
93104.0    Feingold Productions                     2000                 0
93105.0    IAC Films                                2010          11110975
93156.0    Baby Films                               2000                 0
93177.0    Watchmen Productions                     2010                 0
93280.0    Friday Four, Inc.                        1980          32980880
93380.0    Eleventh Street Production               1990           3011195
93381.0    Jon Kilik                                1990           3011195
93408.0    FortyFour Studios                        2000         521311860
93521.0    Rye Road Productions                     2000          16633035
93522.0    Babe Ruthless Productions                2000          16633035
93528.0    Casual Friday Productions                2000         110230332
93542.0    bob industries                           2010          52501541
93580.0    Wonder works studios entertainment group 2000          72700000
94410.0    Dracula Productions Inc.                 2000                 0
94411.0    Vonnie Von Helmolt Film                  2000                 0
94551.0    4Go West Productions                     2010                 0
94552.0    Flatiron Pictures                        2010                 0
94714.0    Vista Organisation, The                  1980                 0
95018.0    MPH Entertainment Productions            2000         368744044
95063.0    Marcy Media                              2010         133821816

[6156 rows x 1 columns]

In [32]:
# Example: production companies' decade revenue in 2000 sorted descending.
companies_revenue.iloc[companies_revenue.index.get_level_values('decade') == '2000'].sort_values(by='decade revenue', ascending=False)

                                                            decade revenue
company id production company                       decade
6194.0     Warner Bros.                             2000       22897419289
306.0      Twentieth Century Fox Film Corporation   2000       15889321197
33.0       Universal Pictures                       2000       15725218820
5.0        Columbia Pictures                        2000       12168859651
4.0        Paramount Pictures                       2000       11536104632
27.0       DreamWorks SKG                           2000       11518571184
2.0        Walt Disney Pictures                     2000       11096721366
12.0       New Line Cinema                          2000        8208271598
79.0       Village Roadshow Pictures                2000        7214679299
7295.0     Relativity Media                         2000        7018281366
444.0      Dune Entertainment                       2000        6822327649
521.0      DreamWorks Animation                     2000        6058339737
289.0      Ingenious Film Partners                  2000        6008290858
441.0      Columbia Pictures Corporation            2000        5444711997
19551.0    Marvel Enterprises                       2000        5191263718
9195.0     Touchstone Pictures                      2000        5034904868
130.0      Jerry Bruckheimer Films                  2000        4499524036
3.0        Pixar Animation Studios                  2000        4476710793
56.0       Amblin Entertainment                     2000        4369038466
7364.0     Heyday Films                             2000        4350334094
436.0      1492 Pictures                            2000        3956683497
11.0       WingNut Films                            2000        3770889940
23.0       Imagine Entertainment                    2000        3486678725
508.0      Regency Enterprises                      2000        3373969093
158.0      Spyglass Entertainment                   2000        3372347543
923.0      Legendary Pictures                       2000        3107385327
172.0      NPV Entertainment                        2000        3009466923
520.0      Pacific Data Images (PDI)                2000        2935195490
14.0       Miramax Films                            2000        2857511183
574.0      Lightstorm Entertainment                 2000        2787965087
...                                                                    ...
3295.0     Raw Feed                                 2000                 0
11569.0    Chum Television                          2000                 0
2073.0     Kadokawa Pictures                        2000                 0
11568.0    Butterfly Productions                    2000                 0
11560.0    Screen Yorkshire Production Fund         2000                 0
118.0      Det Danske Filminstitut                  2000                 0
2055.0     Skyline Films                            2000                 0
2108.0     Battleplan Productions                   2000                 0
11635.0    Movie Network, The (TMN)                 2000                 0
11662.0    Handmade International                   2000                 0
11675.0    Duckling A/S                             2000                 0
26029.0    Centauri Media                           2000                 0
11680.0    FilmfÃ¶rderung Hamburg Schleswig-Holstein 2000                 0
11679.0    Nordic Film och TV Fund                  2000                 0
11678.0    4Â½                                       2000                 0
11677.0    Kameraudlejningen                        2000                 0
11676.0    Mainstream                               2000                 0
26107.0    Networxx - Film Management               2000                 0
26127.0    Whitest Pouring Films                    2000                 0
11674.0    OC Film                                  2000                 0
2130.0     Mr. Mudd Production                      2000                 0
11673.0    WÃ¼ste Film Ost                           2000                 0
11671.0    Studio 4Â°C                               2000                 0
11669.0    Horizon Media Fund                       2000                 0
11668.0    Grove Media Finance                      2000                 0
11667.0    Northern Ireland Screen                  2000                 0
11666.0    Skogland Films                           2000                 0
11664.0    Altitude Entertainment                   2000                 0
11663.0    Future Films Production Services         2000                 0
5389.0     A Happy Place                            2000                 0

[2652 rows x 1 columns]

#### 11.For each decade, compute the company with maximum revenue

In [33]:
# The maximum values for each decade are evaluated through .max() after gruping by 'decade'. The data regarding companies are subsequently added by a merge on'decade revenue'.
max_companies_revenue=companies_revenue.groupby(by='decade').max().merge(right = companies_revenue.reset_index()[['production company','decade revenue','decade']], on=['decade revenue'])
max_companies_revenue

    decade revenue               production company decade
0          8394751        Triangle Film Corporation   1910
1          8394751             Wark Producing Corp.   1910
2         26358000        Metro-Goldwyn-Mayer (MGM)   1920
3        400176459  Selznick International Pictures   1930
4        400176459        Metro-Goldwyn-Mayer (MGM)   1930
5        351747150          Walt Disney Productions   1940
6         73770324        Metro-Goldwyn-Mayer (MGM)   1950
7        598134765                  Eon Productions   1960
8       1392271577                   United Artists   1970
9       4431144486               Paramount Pictures   1980
10      8824732067               Paramount Pictures   1990
11     22897419289                     Warner Bros.   2000
12     15521006459               Universal Pictures   2010

In [34]:
# Checking the results for 1910: Correct
companies_revenue.iloc[companies_revenue.index.get_level_values('decade') == '1910'].sort_values(by='decade revenue', ascending=False)

                                             decade revenue
company id production company        decade
1307.0     Triangle Film Corporation 1910           8394751
1308.0     Wark Producing Corp.      1910           8394751

In [35]:
# Checking the results for 1930: Correct
companies_revenue.iloc[companies_revenue.index.get_level_values('decade') == '1930'].sort_values(by='decade revenue', ascending=False)

                                                          decade revenue
company id production company                     decade
1553.0     Selznick International Pictures        1930         400176459
8411.0     Metro-Goldwyn-Mayer (MGM)              1930         400176459
3166.0     Walt Disney Productions                1930         184925486
31892.0    Loew's Incorporated                    1930          33754967
5.0        Columbia Pictures                      1930          17033101
60.0       United Artists                         1930           8500000
1315.0     Charles Chaplin Productions            1930           8500000
13866.0    The Caddo Company                      1930           8000000
6194.0     Warner Bros.                           1930           5017000
441.0      Columbia Pictures Corporation          1930           4500000
306.0      Twentieth Century Fox Film Corporation 1930           4000000
6.0        RKO Radio Pictures                     1930           3202000
4.0        Paramount Pictures                     1930           2200025

#### 12.In each year, how many movies have revenue smaller than the budget?

In [36]:
# The previously evaluated 'gross margin' is exploited: if it is >0, then 'revenue'>'budget', if it is <0 viceversa.

# The year is extracted using regex.
movies['year']=movies['release_date'].str.extract('(....)-..-..', expand=True)

# Movies with 'gross margin'<0 are selected and grouped by year
movies_neg_gross_margin_per_year=movies[movies['gross margin']<0][['title','year']].groupby(by=['year']).count().rename(columns={'title': 'number of movies in loss'})

movies_neg_gross_margin_per_year

      number of movies in loss
year
1927                         1
1947                         1
1948                         1
1954                         1
1962                         1
1963                         1
1964                         2
1965                         3
1966                         1
1968                         2
1969                         1
1970                         4
1971                         1
1972                         1
1974                         1
1977                         4
1978                         1
1979                         2
1980                         5
1981                        11
1982                         1
1983                         5
1984                         9
1985                         9
1986                         9
1987                         3
1988                         4
1989                         6
1990                         4
1991                        10
1992                         9
1993                        15
1994                        15
1995                        19
1996                        32
1997                        33
1998                        39
1999                        55
2000                        53
2001                        56
2002                        71
2003                        47
2004                        61
2005                        55
2006                        63
2007                        55
2008                        64
2009                        78
2010                        65
2011                        70
2012                        52
2013                        62
2014                        59
2015                        67
2016                        26

In [37]:
# Check: movies in loss in 1992 
movies[(movies['gross margin']<0) & (movies['year']=='1992')][['title','year','gross margin']].sort_values(by='gross margin', ascending=True)

                                title  year  gross margin
movie_id
9096                     Medicine Man  1992     -40000000
10410                           Hoffa  1992     -35000000
20763                     Radio Flyer  1992     -30348023
2687      Memoirs of an Invisible Man  1992     -25641967
766                  Army of Darkness  1992     -11000000
36351                   Light Sleeper  1992      -5000000
9504              Glengarry Glen Ross  1992      -1774772
12088                        Fortress  1992      -1260859
13006                    Split Second  1992            -2

##### The number of actors (task number 1) are recalculated using the normalized table

In [38]:
num_cast_members=cast_norm[['movie_id','title','actor id']].groupby(['movie_id','title']).count().rename(columns={'actor id': 'number of actors'})
num_cast_members

                                                             number of actors
movie_id title
5        Four Rooms                                                        24
11       Star Wars                                                        106
12       Finding Nemo                                                      24
13       Forrest Gump                                                      66
14       American Beauty                                                   40
16       Dancer in the Dark                                                29
18       The Fifth Element                                                115
19       Metropolis                                                        21
20       My Life Without Me                                                12
22       Pirates of the Caribbean: The Curse of the Blac...                70
24       Kill Bill: Vol. 1                                                 36
25       Jarhead                                                           20
28       Apocalypse Now                                                    36
33       Unforgiven                                                        33
35       The Simpsons Movie                                                21
38       Eternal Sunshine of the Spotless Mind                             19
55       Amores perros                                                     25
58       Pirates of the Caribbean: Dead Man's Chest                        33
59       A History of Violence                                             15
62       2001: A Space Odyssey                                             60
65       8 Mile                                                            19
66       Absolute Power                                                    11
68       Brazil                                                            22
69       Walk the Line                                                     45
70       Million Dollar Baby                                               49
71       Billy Elliot                                                      17
73       American History X                                                53
74       War of the Worlds                                                 29
75       Mars Attacks!                                                     22
76       Before Sunrise                                                    27
...                                                                       ...
370662   Time to Choose                                                     5
370980   Chiamatemi Francesco - Il Papa della gente                        11
371690   Rotor DR1                                                         10
373314   Misconduct                                                         8
374461   Mr. Church                                                        11
375290   Airlift                                                           19
375950   The Country Doctor                                                36
376004   Adulterers                                                         6
376010   Western Religion                                                  11
376659   Bad Moms                                                          33
378200   The Perfect Match                                                 15
379532   Rodeo Girl                                                        19
380733   Fight to the Finish                                                6
381902   The Monkey King 2                                                 11
385383   Fight Valley                                                      16
385636   Juliet and Alfa Romeo                                              7
385736   Kicks                                                             11
386826   A Beginner's Guide to Snuff                                        5
389425   Code of Honor                                                     12
394047   The Dog Lover                                                     30
395766   The Secret                                                         9
396152   Restoration                                                        4
402515   American Beast                                                     4
407887   Operation Chromite                                                14
408429   Perfect Cowboy                                                    10
417859   Puss in Boots                                                     25
426067   Midnight Cabaret                                                  12
426469   Growing Up Smith                                                  23
433715   8 Days                                                             4
459488   To Be Frank, Sinatra at 100                                        1

[4760 rows x 1 columns]

##### Number of movies without cast data

In [39]:
credits[credits['cast']=='[]'].count()

movie_id           43
title              43
cast               43
crew               43
n. cast members     0
dtype: int64

In [117]:
# The total revenue value of the movie is given to each member of the cast through a merge with movies
cast_norm_revenue=cast_norm.merge(right = movies.reset_index()[['revenue','movie_id']], on=['movie_id'])
## The order of the actor is increased by one to avoid the zero order.
##cast_norm_revenue['order_revenue']=cast_norm_revenue['order']+1
cast_norm_revenue.rename(columns={'revenue': 'movie_revenue'}, inplace=True)
cast_norm_revenue.head()

,cast_id,character,gender,actor id,movie_id,actor name,order,title,movie_revenue
0,242.0,Jake Sully,M,65731.0,19995,Sam Worthington,0.0,Avatar,2787965087
1,3.0,Neytiri,F,8691.0,19995,Zoe Saldana,1.0,Avatar,2787965087
2,25.0,Dr. Grace Augustine,F,10205.0,19995,Sigourney Weaver,2.0,Avatar,2787965087
3,4.0,Col. Quaritch,M,32747.0,19995,Stephen Lang,3.0,Avatar,2787965087
4,5.0,Trudy Chacon,F,17647.0,19995,Michelle Rodriguez,4.0,Avatar,2787965087

In [118]:
#x*(1+1/2+1/4+1/8+...+1/2^n)=revenue -----> x=(revenue/sum_{i=0}^{n}(1/2^i)) 

# For each movie, the number of cast members, n, is evaluated from a merge with the dataframe num_cast_members
cast_norm_revenue=cast_norm_revenue.merge(right = num_cast_members.reset_index()[['number of actors','movie_id']], on=['movie_id'])
#cast_norm_revenue['number of actors'].astype('int64')
cast_norm_revenue.head()

def actor_revenue_calc(row):
    
    #sum_{i=0}^{n}(1/2^i) is evaluated:
    tot_sum=0
    nn=row['number of actors']
    for ii in range (0,nn):
        tot_sum = tot_sum + 1/(2**(ii))
        
    act_rev=(row['movie_revenue']/tot_sum)*(1/(2**(row['order'])))
    return act_rev

#cast_norm_revenue['actor_revenue']=cast_norm_revenue.apply(actor_revenue_calc, axis=1)

#for row in cast_norm_revenue.iterrows():
 #   print(row.iloc[0])
   # nn=row['number of actors']
    #for ii in range (0,nn.iloc[0]['number of actors']):
     #   tot_sum = tot_sum + 1/(2**(ii))
        
    #cast_norm_revenue.loc[row]['actor_revenue']=(cast_norm_revenue.iloc[row]['revenue']/tot_sum)*cast_norm_revenue.iloc[row]['order_revenue']
#

In [119]:
cast_norm_revenue['actor_revenue']=cast_norm_revenue.apply(actor_revenue_calc, axis=1)

In [120]:
cast_norm_revenue.head()

,cast_id,character,gender,actor id,movie_id,actor name,order,title,movie_revenue,number of actors,actor_revenue
0,242.0,Jake Sully,M,65731.0,19995,Sam Worthington,0.0,Avatar,2787965087,83,1.393983e+09
1,3.0,Neytiri,F,8691.0,19995,Zoe Saldana,1.0,Avatar,2787965087,83,6.969913e+08
2,25.0,Dr. Grace Augustine,F,10205.0,19995,Sigourney Weaver,2.0,Avatar,2787965087,83,3.484956e+08
3,4.0,Col. Quaritch,M,32747.0,19995,Stephen Lang,3.0,Avatar,2787965087,83,1.742478e+08
4,5.0,Trudy Chacon,F,17647.0,19995,Michelle Rodriguez,4.0,Avatar,2787965087,83,8.712391e+07

In [129]:
tot_actor_revenue=cast_norm_revenue[['actor id','actor name','actor_revenue']].groupby(['actor id','actor name']).sum().rename(columns={'actor_revenue': 'tot_actor_revenue'})
tot_actor_revenue.sort_values(by='tot_actor_revenue', ascending=False)

                                 tot_actor_revenue
actor id  actor name
500.0     Tom Cruise                  3.976120e+09
31.0      Tom Hanks                   3.800124e+09
3223.0    Robert Downey Jr.           3.631739e+09
85.0      Johnny Depp                 3.511521e+09
2888.0    Will Smith                  3.281598e+09
7399.0    Ben Stiller                 2.833072e+09
10980.0   Daniel Radcliffe            2.779388e+09
62.0      Bruce Willis                2.575909e+09
6193.0    Leonardo DiCaprio           2.557797e+09
3.0       Harrison Ford               2.509048e+09
287.0     Brad Pitt                   2.292327e+09
1892.0    Matt Damon                  2.254141e+09
3894.0    Christian Bale              2.051638e+09
776.0     Eddie Murphy                2.038151e+09
13240.0   Mark Wahlberg               2.007938e+09
1100.0    Arnold Schwarzenegger       1.996725e+09
1327.0    Ian McKellen                1.977123e+09
19292.0   Adam Sandler                1.957018e+09
206.0     Jim Carrey                  1.922327e+09
18277.0   Sandra Bullock              1.914012e+09
12073.0   Mike Myers                  1.898352e+09
8784.0    Daniel Craig                1.870551e+09
1461.0    George Clooney              1.842905e+09
6968.0    Hugh Jackman                1.821267e+09
16828.0   Chris Evans                 1.792655e+09
109.0     Elijah Wood                 1.789506e+09
65731.0   Sam Worthington             1.788955e+09
72129.0   Jennifer Lawrence           1.770493e+09
11701.0   Angelina Jolie              1.756363e+09
10959.0   Shia LaBeouf                1.756111e+09
...                                            ...
1632617.0 Kerry Stacey                0.000000e+00
129985.0  Teach Grant                 0.000000e+00
1632619.0 Bianca McKenzie             0.000000e+00
1632620.0 Marie Stafford              0.000000e+00
943222.0  Dan Donohue                 0.000000e+00
129987.0  Melody B. Choi              0.000000e+00
129988.0  Aieisha Li                  0.000000e+00
129989.0  Dean Hinchey                0.000000e+00
942976.0  John Hussey                 0.000000e+00
942967.0  Mario Zaragoza              0.000000e+00
129984.0  Glynis Davies               0.000000e+00
1632523.0 DorothÃ©e BriÃ¨re             0.000000e+00
1190068.0 Danny Minnick               0.000000e+00
1632517.0 Elisabeth Adwin             0.000000e+00
18365.0   Sandy Dennis                0.000000e+00
1190180.0 Chelsea Logan               0.000000e+00
1190206.0 Donatas Banionis            0.000000e+00
1190211.0 Natalya Bondarchuk          0.000000e+00
18363.0   Roland ThÃ©not               0.000000e+00
129765.0  Jonathan Cohen              0.000000e+00
18362.0   Yves Drouhet                0.000000e+00
944066.0  Antonio Ugo                 0.000000e+00
943955.0  Romeo                       0.000000e+00
129872.0  Jenny Gago                  0.000000e+00
87778.0   Salvatore Antonio           0.000000e+00
18339.0   Veronica Lazar              0.000000e+00
129943.0  Brad Benedict               0.000000e+00
1632441.0 Damon Pfaff                 0.000000e+00
1632516.0 Brandon Valley Jones        0.000000e+00
189491.0  Lisa Whelchel               0.000000e+00

[54588 rows x 1 columns]

In [124]:
tot_actor_revenue.loc[tot_actor_revenue['tot_actor_revenue'].idxmax()]

tot_actor_revenue    3.976120e+09
Name: (500.0, Tom Cruise), dtype: float64